@media (min-width: 1400px){
.for-page .container {
    max-width: 1118px;
}
}
@media (max-width: 1119px ){
    .header .offer a{
        padding: 7px;
    }
    .mainBlock .inner{
        padding-top: 80px;
    }
    .mainBlock .yellow{
        padding-top: 80px;
    }
    .block3{
        padding: 92px 0;
    }
    .block3 .companies img{
        margin-right: 20px;
    }
    .block5{
        padding-top: 92px;
        padding-bottom: 60px;
    }
    .block5 .sprigPhoto{
        margin-bottom: 68px;
    }
    .block6{
        margin-bottom: 70px;
    }
    .block6 .purplePhoto img{
        left: -24px;
    }
    .block6 .purpleText .purpleTarget{
        font-size: 38px;
    }
    .block7 .solution{
        margin-bottom: 100px;
    }
    .block9{
        padding: 48px 0;
    }
    .block11{
        padding: 40px 0;
    }
    .block12 .bggrey{
        padding-top: 70px;
        padding-left: 55px;
        padding-right: 55px;
        padding-bottom: 158px;
    }
    .block12 .bgyellow{
        padding: 40px 55px;
    }
    .block9 .block10 .accordion .card .card-header h5 button{
        padding-right: 260px;
    }
}
@media (max-width: 991px ){
    .page{
        padding-bottom: 730px;
    }
    .responsive_menu{
        display: block;
    }
    .responsive_menu i{
        font-size: 33px;
        transition: .3s;
        cursor: pointer;
    }
    .responsive_menu i:hover{
        color: #F9C600;
    }
    .footer .logo{
        margin-bottom: 30px;
    }
    .menu{
        display: none;
    }
    .offer{
        display: none;
    }
    
    .header .parentResponsive .logo{
        display: flex;
        justify-content: space-between;
    }
    .mainBlock{
        text-align: center;
    }
    .mainBlock .inner{
        max-width: none;
        padding-bottom: 100px;
    }
    .mainBlock .yellow .pic{
        position: static;
    }
    .mainBlock .yellow .pic2{
        padding-top: 40px;
    }
    .block4 .photo{
        margin-bottom: 20px;
    }
    .block6 .purpleText {
        padding: 50px 0;
        margin: 0 auto;
    }
    .block7 .solution{
        margin-bottom: 50px;
    }
    .block6 .purplePhoto{
        position: static;
        padding-top: 40px;
    }
    .block6 .purplePhoto img{
        position: static;
    }
    .block8 .textAria{
        margin-bottom: 20px;
    }
    .block9 .block10 .accordion .card .card-header h5 button{
        padding-right: 120px;
    }
    .block10{
        min-height: 500px;
    }
    .block11 .integration .middlePart{
        line-height: 35px;
        margin-bottom: 20px;
    }
    .block11 .integration .lowerPart{
        line-height: 22px;
    }
    .block12 .bggrey{
        border-radius: 10px 10px 0 0;
        padding: 70px 55px;
    }
    .block12 .bggrey .study{
        margin-bottom: 0;
    }
    .block12 .bgyellow{
        border-radius: 0 0 10px 10px;
    }
    .block12 .bgyellow .innerPart .firstPart {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .final .bgblue .bgblueTitle {
        font-size: 37px;
        line-height: 45px;
        margin-bottom: 22px;
    }
    .block9 .textPart {
        margin-bottom: 50px;
    }
    .block9 .textPart h2 {
        font-size: 37px;
        line-height: 46px;
    }
    .footer .copyRight{
        padding: 20px 0;
    }
    .final .bgblue {
        margin-bottom: 60px;
    }
    .block11 .integrationPhoto{
        position: static;
        text-align: end;
    }
    .block11 .integrationPhoto img{
        position: static;
    }
    
}
@media (max-width: 767px ){
    .mainBlock .inner{
        padding: 50px 0;
    }
    .mainBlock .inner .title{
        font-size: 40px;
        line-height: 45px;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .mainBlock .inner a {
        padding: 10px 20px;
    }
    .block3 .companies img {
        margin-right: 0;
    }
    .block4 .text{
        padding-right: 0;
    }
    .block4 .text .modernProduct{
        font-size: 28px;
        line-height: 35px;
    }
    .block4 .text .description{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .block5{
        padding-top: 46px;
    }
    .block5 .titleSprig{
        margin-bottom: 30px;
    }
    .block5 .titleSprig h2{
        font-size: 27px;
        line-height: 35px;
    }
    .block5 .sprigPhoto{
        margin-bottom: 34px;
    }
    .block6{
        margin-bottom: 40px;
    }
    
    .block9 .photoTarget{
        text-align: center;
    }
    .block9 .textPart h2{
        font-size: 36px;
        line-height: 45px;
    }
    .block9 .block10 .accordion{
        min-height: 493px;
        padding-top: 35px;
    }
    .block9 .block10 .accordion .card .card-header h5 button{
        padding-right: 230px;
    }
    
    .block3{
        padding: 46px 0;
    }
    .block3 .trusted{
        margin-bottom: 20px;
        max-width: 517px;
    }
    .block3 .trusted .trustedTitle{
        font-size: 28px;
        line-height: 35px;
    }
    .block6 .purpleText .purpleTarget{
        font-size: 30px;
        line-height: 38px;
    }
    .block6 .purpleText{
        padding-top: 53px;
        padding-bottom: 60px;
    }
    .block7 .solution .middleText{
        font-size: 30px;
        line-height: 35px;
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .block8{
        margin: 0;
        padding: 23px 0;
    }
    .block8 .btn ul{
        display: flex;
        flex-direction: column;
    }
    .block8 .btn a{
        margin-bottom: 25px;
    }
    .block8 .textAria h2{
        font-size: 30px;
        line-height: 30px;
        margin: 20px 0;
    }
    .block11{
        padding: 40px 0;
    }
    .block11 .integrationPhoto{
        padding-top: 20px;
        text-align: end;
    }
    .block11 .integration .middlePart{
        font-size: 28px;
        line-height: 30px;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .block9 .textPart h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .block12 .bgyellow .innerPart .firstPart {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .block12 .bggrey {
        padding-top: 40px;
        padding-left: 55px;
        padding-right: 38px;
        padding-bottom: 70px;
    }
    .block12 .bggrey .trusted-by {
        font-size: 21px;
        line-height: 26px;
        margin: 16px 0;
    }
    .final .bgblue .bgblueTitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .final .bgblue .bgblueText {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .final .bgblue {
        margin-bottom: 68px;
    }
}

@media (max-width: 575px ){
    .page{
        padding-bottom: 1354px;
    }
    .footer .logo{
        margin-bottom: 20px;
    }
}
@media (max-width: 500px ){
    .page{
        padding-bottom: 1350px; 
    }
    .block9 .block10 .accordion .card .card-header h5 button{
        padding-right: 140px;
    }
    .block3 .companies img {
        margin-right: 30px;
    }
    .block6{
        padding: 20px 0;
    }
    .block6 .purpleText {
        padding: 30px 0;
    }.footer .logo {
        margin-top: 30px;
    } 
    .footer .copyRight{
        display: flex;
        flex-direction: column;
    }
    .footer .copyRight .socials{
        text-align: center;
    }
    .block12 .bgyellow .innerPart .innerLowerPart .info .name{
        line-height: 16px;
    }
    .block12 .bgyellow .innerPart .innerLowerPart .info .job {
        line-height: 20px;
    }
}
@media (max-width: 470px ){
    .mainBlock .inner .mainButtons{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: 0 auto;
    }
    .mainBlock .inner .btn{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 400px ){
    .page {
        padding-bottom: 1380px;
    }
    .header {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .block12 .bggrey {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }
    .block12 .bgyellow {
        padding: 20px 30px;
    }
    .block12 .bgyellow .innerPart .innerLowerPart .info .name {
        line-height: 10px;
    }
    .block12 .bgyellow .innerPart .innerLowerPart .info .job{
        line-height: 20px;
    }
    .block9 .block10 .accordion {
        min-height: 580px;
    }
    .block9 .block10 .accordion .card .card-header h5 button {
        padding-right: 40px;
    }
}