*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
html,
body{
    position: relative;
}
.for-page{
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}
.page{
    position: relative;
    padding-bottom: 398px;
}

/*------------------header--------------*/

.header{
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 14px;
}
.header .parentResponsive .logo img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.header .menu ul{
    display: flex;
    padding-top: 10px;
}
.header .menu li{
    list-style: none;
}
.header .menu a{
    padding: 28px 11px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    text-decoration: none;
}
.header .menu a:hover{
    box-shadow: inset 0px -6px 10px -5px #F9C600;
}

.responsive_menu{
    display: none;
}
.header .offer ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.header .offer li{
    list-style: none;
}
.header .offer a{
    padding: 12px 9px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    transition: .3s;
    border-radius: 4px;
    border: 1px solid #000000;
}

.header .offer a:hover{
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    color: #FFFFFF;
    transition: .3s;
    text-decoration: none;
}
/*------------------header------------*/

/*---------------------mainBlock-------------*/


.mainBlock .inner{
    max-width: 448px;
    padding-top: 160px;
    padding-bottom: 256px;
}
.mainBlock .inner .title{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-bottom: 24px;
}
.mainBlock .inner p{
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-bottom: 40px;
}
.mainBlock .inner a{
    padding: 15px 29px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
}
.mainBlock .inner .btn{
    margin-right: 32px;
}
.mainBlock .inner a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}


.mainBlock .yellow{
    background: #F9C600;
    padding-top: 172px;
    position: relative;
}
.mainBlock .yellow .pic{
    position: absolute;
    
    left: -100px;
}
.mainBlock .yellow .pic2{
    padding-top: 600px;
}
/*---------------------mainBlock-----------------*/

/*-----------------------block3-------------*/

.block3{
    padding: 96px 0;
    text-align: center;
}
.block3 .trusted{
    text-align: center;
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 59px;
}
.block3 .trusted .trustedTitle{
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color:#0B2330;
}
.block3 .companies{
    max-width: 1143px;
    margin: 0 auto;
}
.block3 .companies img{
    max-width: 100%;
    width: auto;
    height: auto;
    margin-right: 60px;
}
/*-----------------------block3-------------*/

/*-----------------------block4-------------*/

.block4{
    background: #51CEBC;
    border-radius: 10px;
    padding: 56px 0;
}
.block4 .photo img{
    max-width: 100%;
    width: auto;
    height: auto;
    
}

.block4 .text{
    padding-right: 65px;
    padding-top: 23px;
}
.block4 .text .modernProduct{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-bottom: 32px;
}
.block4 .text .description{
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}
/*-----------------------block4-------------*/

/*-----------------------block5-------------*/

.block5{
    padding: 80px 0;
    text-align: center;
}
.block5 .titleSprig{
    text-align: center;
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 56px;
}
.block5 .titleSprig h2{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.block5 .sprigPhoto{
    margin-bottom: 80px;
}
.block5 .sprigBtn a{
    padding: 14px 29px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
}

.block5 .sprigBtn a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}
/*-----------------------block5-------------*/


/*-----------------------block6-------------*/
.block6{
    background: #BD78F0;
    border-radius: 10px;
    margin-bottom: 136px;
}
.block6 .purplePhoto{
    position: relative;
}
.block6 .purplePhoto img{
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 60px;
    left: -10px;
}
.block6 .purpleText{
    padding-top: 106px;
    max-width: 562px;
    padding-bottom: 123px;
}
.block6 .purpleText .purpleTarget{
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-bottom: 32px;
}
.block6 .purpleText .discount{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin-bottom: 0;
}

/*-----------------------block6-------------*/

/*-----------------------block7-------------*/

.block7 .solution{
    max-width: 715px;
    margin-bottom: 100px;
}
.block7 .solution .upperText{
    font-size: 14px;
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
}
.block7 .solution .middleText{
    font-size: 42px;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.block7 .solution .lowerText{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    color: #375361;
}
/*-----------------------block7-------------*/

/*-----------------------block8-------------*/
 .block8{
    padding: 40px 0;
}

.block8 .textAria{
    max-width: 513px;
}
.block8 .textAria img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.block8 .textAria h2{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin:25px 0;
}
.block8 .textAria p{
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.block8 .textAria a{
    padding: 14px 29px;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
    margin-bottom: 66px;
}

.block8 .textAria a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}
.block8 .btn a{
    padding: 3px 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    margin-right: 16px;
    background: #E7EAEB;
    border-radius: 4px;
    scroll-behavior: smooth;
}
.block8 .btn ul{
    display: flex;
}
.block8 .btn li{
    list-style: none;
}
.block8 .btn a:hover{
    text-decoration: none;
    background: #FE9F28;
    color: #FFFFFF;
}
.block8 .part2 img{
    max-width: 100%;
    height: auto;
    width: auto;
}
/*-----------------------block8-------------*/

/*-----------------------block9-------------*/
.block9{
    background: #F2EDE7;
    padding: 96px 20px;
}
.block9 .textPart{
    max-width: 1064px;
    margin-bottom: 122px;
}
.block9 .textPart p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}
.block9 .textPart h2{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
}
/*-----------------------block9-------------*/


/*-----------------------block10-------------*/
.block10{
    background: #F2EDE7;
    padding: 0 20px;
}
.block10 .photoTarget img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.block9 .block10 .accordion{
    min-height: 460px;
}
.block9 .block10 .accordion .card{
    background: #F2EDE7;
    border: none;
}
.block9 .block10 .accordion .card .card-header:focus-within{
    border-top: 2px solid #C9316F;
    border-bottom: none;
    border-radius: 0px;
    background-color: #F2EDE7;
}
.block9 .block10 .accordion .card .card-header h5 button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    padding-right: 300px;
}
.block9 .block10 .accordion .card .card-header h5 button:hover{
    text-decoration: none;
}
.block9 .block10 .accordion .card .card-header h5 button:focus{
    text-decoration: none;
}

.block9 .block10 .accordion .card .card-body .upperText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.block9 .block10 .accordion .card .card-body .middleText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.block9 .block10 .accordion .card .card-body a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
    transition: 1s;
    margin-right: 10px;
}
.block9 .block10 .accordion .card .card-body a:hover{
    text-decoration: none;
    margin-right: 30px;
    transition: 1s;
}
/*----------------------block10--------------------*/

/*------------------------block11-------------*/

.block11{
    padding: 100px 0;
}
.block11 .integration{
    max-width: 678px;
    padding-bottom: 24px;
}
.block11 .integration .upperPart{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    color: #375361;
    margin-bottom: 0;
}
.block11 .integration .middlePart{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-top: 15px;
    margin-bottom: 33px;
}
.block11 .integration .lowerPart{
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-bottom: 40px;
    padding-right: 12px;
}
.block11 .integration a{
    padding: 14px 29px;
    font-size: 16px;
    line-height: 24px;    
    color: #0B2330;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
}
.block11 .integration a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}

.block11 .integrationPhoto{
    position: relative;
}
.block11 .integrationPhoto img{
    max-width: 100%;
    width: auto;
    height: auto;
        position: absolute;
    top: -390px;
    right: 0px;
}
/*------------------------block11-*-----------------*/

/*------------------------block12----------------*/


.block12 .bggrey{
    background: #F2EDE7;
    border-radius: 10px 0px 0px 10px;
    padding: 65px 116px;
    padding-bottom: 172px;
}
.block12 .bggrey .study{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    color: #375361;
    padding-top: 11px;
}
.block12 .bggrey .trusted-by{
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    margin-top: 16px;
    margin-bottom: 24px;
}
.block12 .bggrey .sprigHelps{
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    margin-bottom: 40px;
}
.block12 .bggrey a{
    padding: 14px 29px;
    font-size: 16px;
    line-height: 24px;    
    color: #0B2330;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
}
.block12 .bggrey a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}


.block12 .bgyellow{
    background: #F9C600;
    border-radius: 0px 10px 10px 0px;
    padding: 80px 100px;
    position: relative;
}
.block12 .bgyellow .zapyatie{
    position: absolute;
    top: 0;
    left: 0;
}
.block12 .bgyellow .innerPart .firstPart{
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
    padding-bottom: 40px;
}
.block12 .bgyellow .innerPart .innerLowerPart{
    display: flex;
    align-self: baseline;
}
.block12 .bgyellow .innerPart .innerLowerPart img{
    margin-right: 24px;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 14px;
}
.block12 .bgyellow .innerPart .innerLowerPart .info{
    padding: 14px 0;
}
.block12 .bgyellow .innerPart .innerLowerPart .info .name{
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    margin-bottom: 0;
}
.block12 .bgyellow .innerPart .innerLowerPart .info .job{
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
    margin-bottom: 0;
}
/*-----------------------block12-----------------*/

/*------------------------final----------------*/
.final{
    margin-top: 40px;
    padding-top: 56px;
    background: #0B2330;
    color: #FFFFFF;
}
.final .bgblue{
    text-align: center;
    max-width: 609px;
    margin: 0 auto;
    margin-bottom: 96px;
}
.final .bgblue .bgblueTitle{
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.final .bgblue .bgblueText{
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 36px;
}
.final .bgblue a{
    padding: 14px 29px;
    font-size: 16px;
    line-height: 24px;    
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: .5s;
}
.final .bgblue a:hover{
    text-decoration: none;
    border: 1px solid #F9C600;
    background: #F9C600;
}

.final .line{
    padding: 1px 0;
    background: #375361;
    margin-bottom: 60px;
}
/*--------------------------------final-------------*/



/*-------------------footer----------------*/

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0B2330;
    padding-left: 20px;
    width: 100%;
}

.footer .menu1 p{
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    padding-bottom: 14px;
    padding-bottom: 0;
}
.footer .menu1 ul{
    display: flex;
    flex-direction: column;
    
}
.footer .menu1 li{
    list-style: none;
    margin: 7px 0;

}
.footer .menu1 a{
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    opacity: .5;
    transition: .5s;
}
.footer .menu1 a:hover{
    text-decoration: none;
    transition: .5s;
    opacity: 1;
}
.footer .copyRight{
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
}
.footer .copyRight p{
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}
.footer .copyRight .socials a{
    opacity: .5;
    transition: .8s;
    margin-right: 10px;
}
.footer .copyRight .socials a:hover{
    opacity: 1;
    transition: .8s;
    text-decoration: none;
}