@media (min-width: 1200px){
.for_page .container{
    max-width: 1110px;
}
}

@media (max-width: 1199px ){
    .banner{
        padding-top: 90px;
        padding-bottom: 120px;
    }
    .about{
        padding: 68px 0;
    }
    .bg_blue img{
        padding: 50px 0;
    }
    .bg_blue span{
        top: 50px;
    }
    .bg_blue .span1{
        top: 75px;
    }
    .skills .title{
        padding-top: 51px;
        padding-bottom: 108px;
    }
    .work .title h2 {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .work .title p{
        padding-bottom: 0;
    }
    .album .photos{
        padding-bottom: 36px;
    }
    .album .microsoft{
        padding-bottom: 50px;
    }
    .final .title h2{
        padding: 50px 0;
    }
    .final .title p{
        padding-bottom: 37px;
    }
}
@media (max-width: 991px ){
    .responsive_menu{
        display: block;
    }
    .responsive_menu i{
        font-size: 33px;
        color: #34547a;
        transition: .3s;
        cursor: pointer;
    }
    .responsive_menu i:hover{
        color: #03d5e4;
    }
    .nav-menu{
        display: none;
    }
    .header .parent_responsive{
        display: flex;
        justify-content: space-between;
    }
    .banner{
        padding: 50px 0;
        text-align: center;
    }
    .parentTextBanner{
        margin-top: 20px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .banner .parentTextBanner h2 {
        padding-bottom: 0;
        margin-bottom: 10px;
    }
    .parentTextBanner p{
        margin-bottom: 20px;
    }
    .photos .picture1{
        width: 50%;
    }
    .album .microsoft{
        padding-top: 51px;
        padding-bottom: 108px;
    }
    .bg_blue{
        padding: 50px 0;
        text-align: center;
    }
    .skills{
        padding-top: 51px;
        padding-bottom: 54px;
    }
    .skills .title{
        padding-bottom: 54px;
    }
    .work{
        padding-top: 25px;
    }
    .final{
        padding-top: 25px;
    }
    .album .microsoft {
        padding-top: 31px;
        padding-bottom: 50px;
    }
}
@media (max-width: 767px ){
    .banner .parentTextBanner h2{
        font-size: 36px;
    }
    .banner .parentTextBanner p{
        font-size: 14px;
    }
    .banner .parentTextBanner a{
        padding: 15px 30px;
    }
    .album .photos{
        padding-bottom: 0;
    }
    .finals .inputs{
        padding-bottom: 140px;
    }
    .skills{
        padding-top: 0;
    }
    .final .inputs{
        text-align: inherit;
        max-width: 100%;
    }
}
@media (max-width: 500px ){
    .parentTextBanner h2{
        font-weight: 500;
        font-size: 35px;
    }
    .photos .picture1{
        width: 100%;
    }
    .about{
        padding: 34px 0;
    }
    .bg_blue{
        padding: 0;
    }
}
@media (max-width: 470px ){
    .btnBanner{
        padding: 9px 0;
        font-size: 14px;
        width: 183px;
    }
}
@media (max-width: 400px ){
    .bg_blue{
        padding: 0;
    }
    .skills .title{
        padding-top: 0;
    }
    .work .title h2{
    padding-top: 51px;
    }
    .final{
        padding-bottom: 200px;
    }
    
    .footer .picture {
        padding-top: 0;
    }
}