/*-*{
    margin: 0;
    padding: 0;
}-*/
body{
    font-size: 20px;
}

p{
    padding: 15px;
}

.img1{
    width: 50%;
}

.img1 img{
    width: 100%;
    float: left;
    padding: 20px;
}

.clear{
    clear: both;
}


.img2{
    width: 50%;
    float: right;
    margin-left: 20px;
}
.img2 img{
    width: 100%;
    
}

.img3{
    width: 50%;
    float: left;
}

.img3 img{
    /*-padding: 20px;-*/
    width: 100%;

}

.img4{
    width: 50%;
    float: left;
}

.img4 img{
    /*-padding: 20px;-*/
    width: 100%;
}